@model QuizDiet.Models.Data.ListViewModel

@{
    ViewData["Title"] = "Quiz";
}

<h1>@ViewBag.Aa</h1>
@if (Model != null)
{
    
    <form method="POST">
        @foreach (var item in Model.Questions)
        {

            <h2>@Html.DisplayFor(modelItem => item.Questions)</h2>
            <br>
            @for (int i = 0; i < 4; i++)
            {

                <input type="radio" id="@Model.Answers[i].IDAnswer" name="answer" value="@Model.Answers[i].Points">
                <label for="male">@Html.DisplayFor(modelItem => Model.Answers[i].Answers)</label>
                <br />
            }
        }


        <label for="firstName">Your first name</label>
        <a href="/home/quiz/2"><input type="submit" /></a>
    </form>

}
else
{
    <a href="/home/quiz/2">weqf</a>
}

